body {
    background-color: #f8f9fa;
}
.chat-container {
    height: 80vh;
    display: flex;
    flex-direction: row;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    overflow: hidden;
}
.user-list {
    width: 25%;
    border-right: 1px solid #dee2e6;
    background-color: #ffffff;
    overflow-y: auto;
}
.message-list {
    width: 75%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    position: relative;
}
.message-list ul {
    list-style-type: none;
    padding: 0;
}
.message-list li {
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
}
.message-list li:nth-child(odd) {
    background-color: #f1f1f1;
}
.message-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #dee2e6;
}
.message-form input[type="text"] {
    flex: 1;
    margin-right: 10px;
}
.message-form button {
    margin-right: 10px;
}

.message-form input[type="file"] {
    display: none;
}
.hidden {
    display: none;
}
.refresh-btn {
    margin-left: auto;
    margin-right: 10px;
}
.sticky-top {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #F8F9FA;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .chat-container {
        flex-direction: row; /* Keep row format */
        height: 80vh; /* Maintain height */
    }

    .user-list {
        width: 25%;
        padding: 0.5rem;
        margin: 0; 
        border-right: 1px solid #dee2e6; /* Maintain border */
    }

    .user-list ul{
        padding: 0.2rem;
        margin: 0;
    }

    .user-list ul li{
        padding: 0.5rem; 
        margin: 0;
    }

    .message-list {
        width: 75%; /* Less width than desktop */
    }

    .message-form {
        flex-direction: row; /* Keep horizontal format */
        padding: 0.5rem; /* Add some padding for touch targets */
    }

    .message-form input[type="text"] {
        margin-bottom: 0; /* Remove bottom margin */
    }

    .message-form button {
        width: auto; /* Allow buttons to fit content */
    }
}